html{
    margin:0px;
    padding:0px;
    }
    body{
        margin:0px;
        padding:0px;
        background-image:url('coffee.jpg');
        background-size:cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    .arrow{
        background-color:#343a40;
        position: relative;
        height:48px;
        z-index: 100;
        
    }
    
    .arrow::after, .arrow::before{
        position: absolute;
        content: '';
        width: 55px;
        height:45px;
        background-color:#343a40; 
        bottom:-1em;
        z-index: 100;
    }
    .arrow::before{
    right:50%;
    transform:skew(0,30deg);
    }
    .arrow::after{
    left:50%;
    transform:skew(0,-30deg);
    }

  
    .navbar-collapse{
      background-color: transparent;
    }

    .navbar-inverse{
      background-color: transparent;
    }
    .center p{
      white-space:nowrap;
      overflow: hidden;
      font-size:22px;
      border-right: solid 3px white;
      animation: animate-txt 3s steps(29,end) 1s 1 normal both ,
      animate-coursor 600ms steps(29,end) infinite;
    }
    .homepg{
      height: 100%;
      width:100%;
      color:white;
      margin:0px;
    padding:0px;
    }
    
    .center{
    display: grid;
    place-items: center;
    height:92.5%;
    width: 100%;
    margin:0px;
    padding:0px;
    }
    .center img{
        height:200px;
        width:200px;
        border-radius:50%;
    }
    
    
    #nav a{
      color:white;
      
    }
    @media screen and (min-width:601px){
      .center p{
        font-size:20px !important;
      }

      #loading p{
        font-size:22px !important;
      }
      .center h1{
        font-size:25px !important;
      }
      .me{
        width:50%;
      }
      .why{
        width:50%;
        position: relative;
      left:700px;
      top:200px;
      }
      @keyframes animate-txt{
      from{width:0;}
      to{width:300px;}
    }
    
    @keyframes animate-coursor{
    from{border-right-color:white;}
    to{border-right-color:transparent;}
    
    }

    @keyframes animate-load{
      from{width:0;}
      to{width:400px;}
     }
     .pcard{
      width:300px;
      height:250px;
     }
     .pcard .detail p{
      letter-spacing: 1px;
      font-size: 15px !important;
      margin-top: 8px !important;
      margin-bottom: 20px  !important;
    }
    
    }
    @media screen and (max-width:601px){
      .center p{
        font-size:16px !important;
      }
      #loading p{
        font-size:18px !important;
      }
    
      .center h1{
        font-size:23px !important;
      }
      .me{
        width:70%;
        display: flex;
      }
      .why{
        width:70%;
        display: flex;
        position: relative;
      left:30px;
      top:250px;
      }
      @keyframes animate-txt{
      from{width:0;}
      to{width:245px;}
    }
    
    @keyframes animate-coursor{
    from{border-right-color:white;}
    to{border-right-color:transparent;}
    
    }
    @keyframes animate-load{
      from{width:0;}
      to{width:325px;}
     }
     .pcard{
      width:80px;
      height:100px;
     }
     .pcard .detail p{
      letter-spacing: 0.5px;
      font-size: 10px  !important;;
      margin-top: 2px  !important;;
      margin-bottom: 5px  !important;;
    }
    
    }
    #about{
      height:140%;
      background-image: linear-gradient(50deg,  #070708a9 60%, #070708a9 40% );
      margin-bottom:10px;
    }
    .content{
    background-image:linear-gradient(50deg, #070708a9 60%, #181201a8 40%);
    margin:0px;
    padding:0px;
    height:20%;
    display :grid;
    place-items: center;
    font-family:'Courier New', Courier, monospace;
    }
    .me{
        background-color:#181201a8;
        color:white;
        display:grid;
        place-items:center;
        padding:30px 50px;
        margin:5%;
        animation: popup 1.5s 1 both;
        position: absolute;
        
      }
      .flex{
        display:inline-block;
        margin: -3px;
      }
      .why{
        background-color:#070708b2;
        color:white;
        display:grid;
        place-items:center;
        padding:30px 50px;
        margin:5%;
       
      }
     
      
     
      @import url('https://fonts.googleapis.com/css?family=Abel');



.cent {
  display: grid;
  place-items: center;
  height:100%;
  width:100%;
  margin:0px;
}

.card {
  
  height:100%;
  width:100%;
  margin:0%;
  background-image: linear-gradient(120deg,  #070708a9 60%, #181201a8 40%);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;

}



.card .additional {
  position: absolute;
  width: 0px;
  height: 100%;
  background-image: linear-gradient(120deg, #0b0b0c 60%, #181201 40%);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  display: grid;
  place-items: center;
}



.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}



.card .additional .more-info {
  display: grid;
  place-items: center;
  width:100%;
  position: absolute;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}




.card .additional .coords span + span {
  float: right;
}





.card .general {
  background-image: linear-gradient(120deg,  #070708a9 60%, #181201a8 40% );
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  color:white;
}

.card .general .more {
  border: solid rgba(255, 255, 255, 0.747) 0.5px;
  box-shadow: 1px 1px rgba(238, 235, 235, 0.4);
  border-radius: 5px;
  padding:15px;

}

.progress-bar{
  background-color:#b68d05f3;
 
}

.gri{
  display: grid;
  place-items: center;
  height: 100%;
  width:100%;
}
.skills{
 width:100%;
 display: grid;
  place-items: center;
}

.cards .hid{
 height: 100%;
   width:100%;
}

#contact{
  width:100%;
  height:25%;
  background-color: #070708de ;
  margin-top:10px;
display:grid;
place-items:center;
color:white;
padding:20px;
}

.links{
  display:flex;
  justify-content: space-around;
  width:100%;
  height:25%;
  font-size:x-large;
}

.insta{
  color:rgb(129, 5, 26)
}
.ln{
  color:#007bb5;
}

.fb{
  color:rgb(34, 34, 88)
}
.twitter{
  color:#55acee;
}
.gmail{
  color:rgb(102, 7, 7)
}

.fb:hover{
 font-size: 40px;
 color:white;
}

.insta:hover{
  font-size: 40px;
  color:white;
 }

 .twitter:hover{
  font-size: 40px;
  color:white;
 }

 .gmail:hover{
  font-size: 40px;
  color:white;
 }

 .ln:hover{
  font-size: 40px;
  color:white;
 }

 .navbar{
   border:0px;
 }

 #loading{
  height:100%;
  width:100%;
  z-index:200;
  background-color: black;
 
  background-repeat: no-repeat;
  position: fixed;
  display:flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#loading p{
 white-space:nowrap;
 overflow: hidden;
 font-size:22px;
 border-right: solid 3px white;
 animation: animate-load 3s steps(29,end) infinite alternate both ,
 animate-coursor 600ms steps(29,end) infinite;
 color:white;
}

 .larger:hover{
  font-size: large;
}


#projects{
  width: 100%;
 display: grid;
 place-items: center;
 background-image: linear-gradient(120deg, rgb(238, 235, 235) 50%, #614803 50% );
}

#projects h1{
  color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding:50px;
  width:100%;
  text-align: center;
  text-decoration: underline;
}

.pro{
  display: flex;
  width:70%;
  justify-content:space-between;
  flex-wrap:wrap;
}

.pcard{

padding: 2rem 1rem;
position:relative;
display:flex;
align-items: flex-end;
transition: 0.5s ease-in-out;
margin:20px;
box-shadow: 10PX 10PX 10PX rgba(0, 0, 0, 0.685);
}

.pcard:hover{
  transform: translateY(20px);
}

.pcard:before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  display:block;
  width:100%;
  height: 100%;
  background-image: linear-gradient(120deg,  #070708cc 60%, #181201cb 40% );
  z-index: 2;
  transition: 0.5s, all;
  opacity: 0;
}

.pcard:hover:before{
  opacity: 1;

}

.pcard img{
  width:100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left: 0;
}

.pcard .detail{
  position: relative;
  z-index: 3;
  opacity: 0;

  transition: 0.5s all;
  color:white;

}

.pcard:hover .detail{
  opacity: 1;
  transform: translateY(0px);
}

.pcard .detail a{
  text-decoration: none;
  border-radius: 10px;
  color:yellow;
  border:solid 0.5px white;
  padding:10px;
}

