html{
    margin:0px;
    padding:0px;
    }
    body{
        margin:0px;
        padding:0px;
        background-image:url('coffee.jpg');
        background-size:cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    .arrow{
        background-color:#343a40;
        position: relative;
        height:48px;
        z-index: 100;
        
    }
    
    .arrow::after, .arrow::before{
        position: absolute;
        content: '';
        width: 55px;
        height:45px;
        background-color:#343a40; 
        bottom:-1em;
        z-index: 100;
    }
    .arrow::before{
    right:50%;
    transform:skew(0,30deg);
    }
    .arrow::after{
    left:50%;
    transform:skew(0,-30deg);
    }
    .center p{
      white-space:nowrap;
      overflow: hidden;
      font-size:22px;
      border-right: solid 3px white;
      animation: animate-txt 3s steps(29,end) 1s 1 normal both ,
      animate-coursor 600ms steps(29,end) infinite;
    }
    .homepg{
      height: 100%;
      width:100%;
      color:white;
      margin:0px;
    padding:0px;
    }
    
    .center{
    display: grid;
    place-items: center;
    height:92.5%;
    width: 100%;
    margin:0px;
    padding:0px;
    }
    .center img{
        height:200px;
        width:200px;
        border-radius:50%;
    }
    
    
    #nav a{
      color:white;
      
    }
    @media screen and (min-width:601px){
      .center p{
        font-size:20px !important;
      }
      .center h1{
        font-size:25px !important;
      }
      .me{
        width:50%;
      }
      .why{
        width:50%;
        position: relative;
      left:700px;
      top:200px;
      }
      @keyframes animate-txt{
      from{width:0;}
      to{width:300px;}
    }
    
    @keyframes animate-coursor{
    from{border-right-color:white;}
    to{border-right-color:transparent;}
    
    }
    }
    @media screen and (max-width:601px){
      .center p{
        font-size:16px !important;
      }
      .center h1{
        font-size:23px !important;
      }
      .me{
        width:70%;
        display: flex;
      }
      .why{
        width:70%;
        display: flex;
        position: relative;
      left:30px;
      top:250px;
      }
      @keyframes animate-txt{
      from{width:0;}
      to{width:245px;}
    }
    
    @keyframes animate-coursor{
    from{border-right-color:white;}
    to{border-right-color:transparent;}
    
    }
    }
    #about{
      height:140%;
      
    }
    .content{
    background-image:linear-gradient(50deg, #070708a9 60%, #181201a8 40%);
    margin:0px;
    padding:0px;
    height:20%;
    display :grid;
    place-items: center;
    font-family:'Courier New', Courier, monospace;
    }
    
    
    
    
    .me{
      background-color:#070708b2;
      color:white;
      display:grid;
      place-items:center;
      padding:30px 50px;
      margin:5%;
      animation: popup 1.5s 1 both;
      position: absolute;
      
    }
    .flex{
      display:inline-block;
      margin: -3px;
    }
    .why{
      background-color:#181201a8;
      color:white;
      display:grid;
      place-items:center;
      padding:30px 50px;
      margin:5%;
     
    }
    .cover{
      display :grid;
    place-items: center;
    font-family:'Courier New', Courier, monospace;
    height:100%;
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:10px;
    padding: 0;
    background-image: linear-gradient(120deg, #0b0b0ce5 60%, #181201ea 40%);
  
    }
    .cover h1{
      color:white;
     }
     @media screen and (min-width:601px){
        
        .cover h1{
          font-size:25px !important;
        }
     }
     @media screen and (max-width:601px){
        
        .cover h1{
          font-size:23px !important;
        }
     }
     .cover p{
       padding:10px;
       background-color: transparent;
       border: solid rgba(202, 194, 194, 0.863) 0.9px;
       border-radius: 5px;
       box-shadow: 0.2PX 0.5PX 3PX rgba(207, 200, 200, 0.527);
       color:white;
       width:100px;
       position: absolute;
       z-index: 100;
     }
     .progress-bar{
       background-color:#b68d05f3;
      
     }
     .skills{
      display:grid;
      place-items:center;
      width:100%;
     }
     .hide{
     display: none;
      font-family:'Courier New', Courier, monospace;
      height:100%;
      width:100%;
      margin-right: 0px;
      margin-left: 0px;
      margin-top:10px;
      padding: 0;
      background-image: linear-gradient(120deg, #0b0b0ce5 60%, #181201ea 40%);
      position:relative;
      bottom:0.5%;
      z-index: -1;
      
     }
    
    
     .cover:hover{
      
       display:none;
     }

     .cover:hover + .hide{
      display:grid;
      place-items:center;
     }